
/*
Created by /u/1998CR

This work is licensed under the Creative Commons Attribution-NonCommercial-NoDerivatives 4.0 International License. 
To view a copy of this license, visit http://creativecommons.org/licenses/by-nc-nd/4.0/ or send a letter to Creative Commons, PO Box 1866, Mountain View, CA 94042, USA.
Contact /u/1998CR for reasonable exception requests.

Feel free to change the background and color of the widget title bar to match your sub's theme 
*/

head {
    color: #fff;
    background: #0079D3;
}

/*DELETE THIS COMMENT AFTER SAVING ONCE, THEN SAVE AGAIN IF YOU CAN'T SEE THE IMAGES (FIXES COMMON REDDIT BUG)*/

/* I don't suggest changing below unless you know what you're doing. */
head{
    display: inline-block;
    position: absolute;
    height: 36px;
    width: 310px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}


h1{
    display: inline-block;
    position: relative;
    margin: 0;
    top: -8px;
    color: #fff;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
    line-height: 38px;
    text-indent: 5px;
    height: 36px;
}

p{margin:2px 1px}

hr{
    border: #cccbcb solid 2px;
    margin: 4px 5px;
}

a:hover{border-color:#0079D3!important;box-shadow:inset 0 -4px 20px 0px rgba(255, 255, 255, 0.46)}

p a{
    background:url(%%reddit-social-icons%%) no-repeat;
    position: relative;
    background-size: 64px, calc(100%/2);
    height: 64px;
    width: 63px;
    display: inline-block;
    border: 1px solid #c3d1d8;
    border-radius: 4px;
    color: transparent;
    margin: 1px 0px 1px 4px;
    transition: all .5s;
}

p a[href*="https://discord.com"]{background-position-y:0} 
p a[href*="https://twitter.com"]{background-position-y:-64px} 
p a[href*="https://www.facebook.com"]{background-position-y:calc(-64px*2)}
p a[href*="https://www.instagram.com"]{background-position-y:calc(-64px*3)}
p a[href*="https://www.youtube.com"]{background-position-y:calc(-64px*4)}
p a[href*="https://www.twitch.tv"]{background-position-y:calc(-64px*5)}
p a[href*="https://www.reddit.com"]{background-position-y:calc(-64px*6)}
p a[href*="https://www.tumblr.com"]{background-position-y:calc(-64px*7)}
p a[href*="https://www.tiktok.com"]{background-position-y:-511px}


